@import "@fortawesome/fontawesome-free/css/all.css";

.terminal-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 3;
  background-image: url("./terminal.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.terminal-input p, .terminal-input input {
  margin: 2px 0 2px 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: pre;
  pointer-events: none;
}

.terminal-input-row {
  align-items: center;
  display: flex;
}

.terminal-input-element {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  min-width: 0ch;
  max-width: 100%;
  caret-color: transparent;
  text-overflow: ellipsis;
  white-space: pre;
}

.terminal-input-cursor {
  position: relative;
  background-color: #71ca84;
  height: 1em;
  width: 1ch;
  animation: cursor-blink 600ms linear infinite;
  z-index: 3;
}

.terminal-keyboard-button {
  position: fixed;
  left: 85%;
  background-color: transparent;
  border: none;
  color: #71ca84;
  font-size: 1.6rem;
}

@keyframes cursor-blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}