@font-face {
  font-family: Terminal;
  src: url("./terminal.ttf");
}

:root {
  --screen-boder-width: 1rem;
  --screen-vertical-padding: 2rem;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: black;
}

.screen {
  background-image: url("./terminal.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  height: calc(100vh - 2 * var(--screen-boder-width) - 2 * var(--screen-vertical-padding));
  width: calc(100vw - 2 * var(--screen-boder-width));
  border-radius: 5rem;
  border: var(--screen-boder-width) solid black;
  display: grid;
  grid-template-rows: min-content auto;
  padding-top: var(--screen-vertical-padding);
  padding-bottom: var(--screen-vertical-padding);
}

.screen-flicker {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: screen-flicker 1100ms ease alternate infinite;
  z-index: 5;
  pointer-events: none;
}

.header {
  text-align: center;
}

.header h2 {
  margin: 0.5rem 0 0 0;
}

article {
  margin-top: 2rem;
  width: 100%;
  max-width: 80vw;
  height: 100%;
  overflow-y: scroll;
  margin: auto;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, a {
  font-family: Terminal;
  font-weight: bold;
  color: #71ca84;
  animation: text-glow 1000ms infinite, text-flicker 700ms infinite;
}

a {
  font-size: large;
}

h1 {
  font-size: xx-large;
}

@keyframes screen-flicker {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.05;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0.05;
  }

  60% {
    opacity: 0.03;
  }

  80% {
    opacity: 0.09;
  }

  100% {
    opacity: 0;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-glow {
  0% {
    text-shadow: 0px 0px 0px white;
  }

  50% {
    text-shadow: 0px 0px 1px white;
  }

  100% {
    text-shadow: 0px 0px 0px white;
  }
}