---
import "./terminal.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="screen-background"></div>
    <div class="screen-border"></div>
    <div class="screen-flicker"></div>
    <article class="terminal text-glow">
      <div id="terminal-header">
        <h2>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</h2>
        <h2>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</h2>
        <h2>-Display 1-</h2>
      </div>
      <div class="terminal-content">
        <slot />
      </div>
    </article>
  </body>
</html>

<script>
  function handleResize() {
    const headerHeight = (
      document.getElementById("terminal-header") as HTMLElement
    ).clientHeight;
    document.documentElement.style.setProperty(
      "--terminal-header-height",
      `${headerHeight}px`
    );
  }
  handleResize();
  window.addEventListener("resize", handleResize);
  function handleInput(event: any) {
    const length = event.target.value.length + 1;
    document.documentElement.style.setProperty(
      "--terminal-input-width",
      `${length}ch`
    );
  }
</script>
