---
import "./terminal.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="screen-flicker"></div>
    <div class="screen">
      <div class="header">
        <h2>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</h2>
        <h2>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</h2>
        <h2>-Display 1-</h2>
      </div>
      <article class="text-glow">
        <slot />
      </article>
    </div>
  </body>
</html>
