@import "../global.css";

@font-face {
  font-family: Terminal;
  src: url("./terminal.ttf");
}

:root {
  --screen-boder-width: 1rem;
  --screen-vertical-padding: 2rem;
}

.terminal {
  height: 100%;
  width: 100%;
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  /*padding-top: var(--screen-vertical-padding);
  padding-bottom: var(--screen-vertical-padding); */
}

.screen-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url("./terminal.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  border-radius: 5vw;
  z-index: 1;
  pointer-events: none;
}

.screen-border {
  position: fixed;
  height: calc(100vh - 2 * var(--screen-boder-width));
  width: calc(100vw - 2 * var(--screen-boder-width));
  border-radius: 5vw;
  border: var(--screen-boder-width) solid black;
  z-index: 10;
  pointer-events: none;
}

.screen-flicker {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: screen-flicker 1100ms ease alternate infinite;
  z-index: 5;
  pointer-events: none;
}

#terminal-header {
  position: fixed;
  top: 1rem;
  text-align: center;
  align-self: center;
  width: 80%;
  z-index: 3;
  background-image: url("./terminal.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

#terminal-header h2 {
  margin: 0.5rem 0 0.5rem 0;
}

.terminal-content {
  align-self: center;
  width: 100%;
  max-width: 80%;
  margin: calc(var(--terminal-header-height) + var(--screen-boder-width)) var(--screen-boder-width) var(--screen-boder-width) var(--screen-boder-width);
  padding-bottom: 5rem;
  z-index: 2;
}

.terminal h1,
.terminal h2,
.terminal h3,
.terminal h4,
.terminal h5,
.terminal h6,
.terminal p,
.terminal a {
  font-family: Terminal;
  font-weight: bold;
  color: #71ca84;
  animation: text-glow 1000ms infinite, text-flicker 700ms infinite;
}

.terminal a {
  font-size: large;
}

.terminal h1 {
  font-size: xx-large;
}

@keyframes screen-flicker {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.05;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0.05;
  }

  60% {
    opacity: 0.03;
  }

  80% {
    opacity: 0.09;
  }

  100% {
    opacity: 0;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-glow {
  0% {
    text-shadow: 0px 0px 0px white;
  }

  50% {
    text-shadow: 0px 0px 1px white;
  }

  100% {
    text-shadow: 0px 0px 0px white;
  }
}