---
import Terminal from "../layouts/terminal";

const allPages = await Astro.glob("./**/*");
---

<Terminal>
  <h1>Hi there!</h1>

  <p>
    This microsite hosts various resources for my Fallout tabletop group. I use
    it to simulate terminals, letters, books and other forms of content.
  </p>

  <h2>Content</h2>
  <li>
    {
      allPages.map((page) => (
        <ul>
          <a href={page.url}>{page.url}</a>
        </ul>
      ))
    }
  </li>
</Terminal>
