@import "../global.css";

@font-face {
  font-family: Note;
  src: url("./note.ttf");
}

.note {
  background-image: url("./note.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6,
.note p,
.note a {
  font-family: Note;
  color: rgb(56, 54, 49);
  margin: 1rem 1rem 1rem 1rem;
  text-shadow: 0 0 5px #b4ab99;
  max-width: 500px;
}

.note h1 {
  font-size: 4rem;
}

.note h2 {
  font-size: 3rem;
}

.note h3 {
  font-size: 2.5rem;
}

.note h4, .note h5, .note h6, .note p, .note a {
  font-size: 2rem;
}